<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Cinemania{% endblock %}</title>
        <meta name="description" content="Site cinea">
        <meta name="author" content="Neto">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <!-- Library CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/myhappycinemania/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/myhappycinemania/css/fonts/font-awesome/css/font-awesome.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/myhappycinemania/css/animations.css')}}" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/myhappycinemania/css/superfish.css')}}" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/myhappycinemania/css/revolution-slider/css/settings.css')}}" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/myhappycinemania/css/prettyPhoto.css')}}" media="screen">
        <!-- Theme CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/myhappycinemania/css/style.css')}}">
        <!-- Skin -->
        <link rel="stylesheet" href="{{ asset('bundles/myhappycinemania/css/colors/blue.css')}}" id="colors">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/myhappycinemania/css/theme-responsive.css')}}">
        <!-- Switcher CSS -->
        <link href="{{ asset('bundles/myhappycinemania/css/switcher.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/myhappycinemania/css/spectrum.css')}}" rel="stylesheet">
        <!-- Favicons -->
        <link rel="shortcut icon" href="{{ asset('bundles/myhappycinemania/img/ico/favicon.ico')}}">
        <link rel="apple-touch-icon" href="{{ asset('bundles/myhappycinemania/img/ico/apple-touch-icon.png')}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/myhappycinemania/img/ico/apple-touch-icon-72.png')}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/myhappycinemania/img/ico/apple-touch-icon-114.png')}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/myhappycinemania/img/ico/apple-touch-icon-144.png')}}">
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        <!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
    </head>
    <body class="home">
        <div class="wrap">
            <!-- Header Start -->
            <header id="header">
            {% block top_bar %}
                {% include 'MyHappyCineManiaBundle:Default:top_bar.html.twig' %}
            {% endblock %}
            {% block menu%}
                {% render(controller("MyHappyCineManiaBundle:Default:menu")) %}
            {% endblock %}
            </header>
            <!-- Header End --> 
            <!-- Content Start -->
            <div id="main">
                <!-- Slider Start-->
            {% include 'MyHappyCineManiaBundle:Default:full_banner_container.html.twig' %}
                <!-- Slider End--> 
                <!-- Slogan Start-->
                <div class="slogan bottom-pad-small">
                    <div class="container">
                        <div class="row">
                            <div class="slogan-content">
                                <div class="col-lg-9 col-md-9">
                                    <h2 class="slogan-title">O Melhor e mais alegre do Cinema</h2>
                                </div>
                                {#<div class="col-lg-3 col-md-3">
                                    <div class="get-started">
                                        <button class="btn btn-special btn-color pull-right">Get Started Now</button>
                                    </div>
                                </div>#}
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slogan End--> 
                <!-- Main Content start-->
                <div class="main-content">
                    <div class="container">
                        {% include 'MyHappyCineManiaBundle:Default:cinema_destaque.html.twig' %}
                    </div>
                </div>
                {% include 'MyHappyCineManiaBundle:Default:filmes_destaques.html.twig' %}
                <!-- Main Content end--> 
                
                <!-- Our Clients Start-->
                {% include 'MyHappyCineManiaBundle:Default:publicidades.html.twig' %}
                <!-- Our Clients End -->  
            </div>
            <!-- Content End -->
            <!-- Footer Start -->
        {% include 'MyHappyCineManiaBundle:Default:rodape.html.twig' %}
            <!-- Footer Bottom End --> 
            <!-- Scroll To Top --> 
            <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
        </div>
        <!-- Wrap End -->
        <!-- The Scripts -->
        <script src="{{asset('bundles/myhappycinemania/js/jquery.min.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/bootstrap.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/jquery.parallax.js')}}"></script> 
        <script src="{{asset('bundles/myhappycinemania/js/modernizr-2.6.2.min.js')}}"></script> 
        <script src="{{asset('bundles/myhappycinemania/js/revolution-slider/js/jquery.themepunch.revolution.min.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/jquery.nivo.slider.pack.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/jquery.prettyPhoto.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/superfish.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/tweetMachine.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/tytabs.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/jquery.gmap.min.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/circularnav.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/jquery.sticky.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/jflickrfeed.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/imagesloaded.pkgd.min.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/waypoints.min.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/spectrum.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/switcher.js')}}"></script>
        <script src="{{asset('bundles/myhappycinemania/js/custom.js')}}"></script>
    </body>
</html>