{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de Promoções</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datacriacao</th>
                <th>Datavalidade</th>
                <th>Filme</th>
                <th>Cinema</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('promocao_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.dataCriacao %}{{ entity.dataCriacao|date('d/m/Y') }}{% endif %}</td>
                <td>{% if entity.dataValidade %}{{ entity.dataValidade|date('d/m/Y') }}{% endif %}</td>
                <td>{{ entity.filme }}</td>
                <td>{{ entity.cinema }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('promocao_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('promocao_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('promocao_new') }}">
                Criar um Novo
            </a>
        </li>
    </ul>
    {% endblock %}
