{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Promoção</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datacriacao</th>
                <td>{{ entity.dataCriacao|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Datavalidade</th>
                <td>{{ entity.dataValidade|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ entity.descricao }}</td>
            </tr>
            <tr>
                <th>Filme</th>
                <td>{{ entity.filme }}</td>
            </tr>
            <tr>
                <th>Regra</th>
                <td>{{ entity.regra }}</td>
            </tr>
            <tr>
                <th>Cinema</th>
                <td>{{ entity.cinema }}</td>
            </tr>
            <tr>
                <th>Cinefilo</th>
                <td>{{ entity.cinefilo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('promocao') }}">
            Voltar para a Lista
        </a>
    </li>
    <li>
        <a href="{{ path('promocao_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
