{% extends '::base.html.twig' %}

{% block body -%}
<form data-validacao="parsley" action="{{ path('cinema_create') }}" method="post" {{ form_enctype(form) }} data-autofocus="first">
    <div class="row-fluid" style="width: 1000px; padding-left: 400px">
        <h1>Cadastro de Cinema</h1>
        {{ form_row(form.nome) }}
        {{ form_row(form.endereco) }}
        {{ form_row(form.descricao) }}
        <br>
    {{ form_rest(form) }}
    </div>
    <div style="padding-left: 400px">
        <a href="{{ path('cinema') }}">
            Exibir Cinemas Cadastrados
        </a>
    </div>
</form>
{% endblock %}
