<div class="main-header">
    <div class="container">
        <!-- TopNav Start -->
        <div class="topnav navbar-header">
            <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
                <i class="icon-angle-down icon-current"></i>
            </a> 
        </div>
        <!-- TopNav End -->
        <!-- Logo Start -->
        <div class="logo pull-left">
            <h1>
                <a href="{{path("home")}}">
                    <img src="{{asset('bundles/myhappycinemania/img/logo.png')}}" alt="pixma" width="125" height="60">
                </a>
            </h1>
        </div>
        <!-- Logo End -->
        <!-- Mobile Menu Start -->
        <div class="mobile navbar-header">
            <a class="navbar-toggle" data-toggle="collapse" href="{{ asset('bundles/myhappycinemania/.navbar-collapse')}}">
                <i class="icon-reorder icon-2x"></i>
            </a> 
        </div>
        <!-- Mobile Menu End -->
        <!-- Menu Start -->
        <nav class="collapse navbar-collapse menu">
            <ul class="nav navbar-nav sf-menu">
                <li>
                    <a id="current" href="{{ path('home') }}">
                        Home
                        <span class="sf-sub-indicator">
                            <i class="icon-angle-down "></i>
                        </span>
                    </a>
                    {#<ul>
                        <li><a href="index-2.html" class="sf-with-ul">Home 2</a></li>
                        <li><a href="index-3.html" class="sf-with-ul">Home 3</a></li>
                        <li><a href="index-nivo.html" class="sf-with-ul">Nivo Slider</a></li>
                    </ul>#}
                </li>
                <li>
                    <a href="{{ path('cinema_new') }}" class="sf-with-ul">
                        Cinemas 
                        <span class="sf-sub-indicator">
                            <i class="icon-angle-down "></i>
                        </span>
                    </a>
                   {# <ul>
                        <li><a href="shortcodes.html" class="sf-with-ul">Shortcodes</a></li>
                        <li><a href="icons.html" class="sf-with-ul">Icons</a></li>
                        <li><a href="pricing-table.html" class="sf-with-ul">Pricing Tables</a></li>
                        <li>
                            <a href="#" class="sf-with-ul"> 
                                Third Level Menu 
                                <span class="sf-sub-indicator pull-right">
                                    <i class="icon-angle-right "></i>
                                </span>
                            </a>
                            <ul>
                                <li><a href="#" class="sf-with-ul">Menu Item</a></li>
                                <li><a href="#" class="sf-with-ul">Menu Item</a></li>
                                <li><a href="#" class="sf-with-ul">Menu Item</a></li>
                            </ul>
                        </li>
                    </ul>#}
                </li>
                <li>
                    <a href="{{ path('promocao_new') }}" class="sf-with-ul">
                        Filmes
                        <span class="sf-sub-indicator">
                            <i class="icon-angle-down "></i>
                        </span>
                    </a>
                    {#<ul>
                        <li><a href="about.html" class="sf-with-ul">About Us</a></li>
                        <li><a href="services.html" class="sf-with-ul">Services</a></li>
                        <li><a href="testimonials.html" class="sf-with-ul">Testimonials</a></li>
                        <li><a href="full-width.html" class="sf-with-ul">Full Width Page</a></li>
                        <li><a href="page-left-sidebar.html" class="sf-with-ul">Left Sidebar</a></li>
                        <li><a href="page-right-sidebar.html" class="sf-with-ul">Right Sidebar</a></li>
                        <li><a href="page-left-navigation.html" class="sf-with-ul">Left Navigation</a></li>
                        <li><a href="page-right-navigation.html" class="sf-with-ul">Right Navigation</a></li>
                        <li><a href="faq.html" class="sf-with-ul">FAQ</a></li>
                        <li><a href="page-404.html" class="sf-with-ul">404 Page</a></li>
                        <li><a href="sitemap.html" class="sf-with-ul">Sitemap</a></li>
                    </ul>#}
                </li>
                <li>
                    <a href="" class="sf-with-ul">
                        Voucher
                        <span class="sf-sub-indicator">
                            <i class="icon-angle-down "></i>
                        </span>
                    </a>
                    <ul>
                        <li><a href="{{ path('lista_voucher' ) }}" class="sf-with-ul">Ver Meus Vouchers</a></li>
                        <li><a href="{{ path('valida_voucher' ) }}" class="sf-with-ul">Aprovar Voucher</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('portifolio') }}" class="sf-with-ul">
                        Portfólio
                        <span class="sf-sub-indicator">
                            <i class="icon-angle-down "></i>
                        </span>
                    </a>
                    {#<ul>
                        <li><a href="portfolio-two.html" class="sf-with-ul">2 Column</a></li>
                        <li><a href="portfolio-three.html" class="sf-with-ul">3 Column</a></li>
                        <li><a href="portfolio-four.html" class="sf-with-ul">4 Column</a></li>
                        <li><a href="portfolio-single.html" class="sf-with-ul">Single Item Page</a></li>
                        <li><a href="portfolio-single-big.html" class="sf-with-ul">Single Large Item Page</a></li>
                    </ul>#}
                </li>
                <li>
                    <a href="{{ path('fos_user_registration_register') }}" class="sf-with-ul">
                        Cadastro
                        <span class="sf-sub-indicator">
                            <i class="icon-angle-down "></i>
                        </span>
                    </a>
                    {#<ul>
                        <li><a href="portfolio-two.html" class="sf-with-ul">2 Column</a></li>
                        <li><a href="portfolio-three.html" class="sf-with-ul">3 Column</a></li>
                        <li><a href="portfolio-four.html" class="sf-with-ul">4 Column</a></li>
                        <li><a href="portfolio-single.html" class="sf-with-ul">Single Item Page</a></li>
                        <li><a href="portfolio-single-big.html" class="sf-with-ul">Single Large Item Page</a></li>
                    </ul>#}
                </li>
                <li>
                    <a href="{{ path('publicidade_new') }}" class="sf-with-ul">
                        Publicidade
                        <span class="sf-sub-indicator">
                            <i class="icon-angle-down "></i>
                        </span>
                    </a>
                    {#<ul>
                        <li><a href="portfolio-two.html" class="sf-with-ul">2 Column</a></li>
                        <li><a href="portfolio-three.html" class="sf-with-ul">3 Column</a></li>
                        <li><a href="portfolio-four.html" class="sf-with-ul">4 Column</a></li>
                        <li><a href="portfolio-single.html" class="sf-with-ul">Single Item Page</a></li>
                        <li><a href="portfolio-single-big.html" class="sf-with-ul">Single Large Item Page</a></li>
                    </ul>#}
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}" class="sf-with-ul">
                        Sair
                        <span class="sf-sub-indicator">
                            <i class="icon-angle-down "></i>
                        </span>
                    </a>
                    {#<ul>
                        <li><a href="portfolio-two.html" class="sf-with-ul">2 Column</a></li>
                        <li><a href="portfolio-three.html" class="sf-with-ul">3 Column</a></li>
                        <li><a href="portfolio-four.html" class="sf-with-ul">4 Column</a></li>
                        <li><a href="portfolio-single.html" class="sf-with-ul">Single Item Page</a></li>
                        <li><a href="portfolio-single-big.html" class="sf-with-ul">Single Large Item Page</a></li>
                    </ul>#}
                </li>
                    {#<li>
                        <a href="#" class="sf-with-ul">
                            Blog
                            <span class="sf-sub-indicator">
                                <i class="icon-angle-down "></i>
                            </span>
                        </a>
                        <ul>
                            <li><a href="blog-left-sidebar.html" class="sf-with-ul">Left Sidebar Blog</a></li>
                            <li><a href="blog-right-sidebar.html" class="sf-with-ul">Right Sidebar Blog</a></li>
                            <li><a href="blog-small.html" class="sf-with-ul">Small Blog</a></li>
                            <li><a href="single-post.html" class="sf-with-ul">Single Post</a></li>
                        </ul>
                    </li>#}
                <li><a href="contact.html">Contato</a></li>
            </ul>
        </nav>
        <!-- Menu End --> 
    </div>
</div>