<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
    <head>
        {% block header %}
            {% include 'MyHappyCineManiaBundle:Default:headers.html.twig' %}
        {% endblock %}
        {% block css %}{% endblock %}
        
    </head>
   <body class="page">
      <div class="wrap">
         <!-- Header Start -->
         <header id="header">
            {% block top_bar %}
                {% include 'MyHappyCineManiaBundle:Default:top_bar.html.twig' %}
            {% endblock %}
            {% block menu%}
                {% render(controller("MyHappyCineManiaBundle:Default:menu")) %}
            {% endblock %}
         </header>
         <!-- Header End -->  
         <!-- Content Start -->
         <div id="main">
            <!-- Title, Breadcrumb Start-->
            <div class="breadcrumb-wrapper">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <h2 class="title">Lista de Todos os Filmes</h2>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Title, Breadcrumb End-->
            <!-- Main Content start-->
            <div class="content">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="options">
                           <ul id="filters" class="option-set clearfix" data-option-key="filter">
                                <li><a href="#filter" data-option-value="*" class="selected">Todos</a></li>
                                {% for cinema in cinemas %}
                                    <li><a href="#filter" data-option-value=".{{ cinema.id }}">{{ cinema.nome }}</a></li>
                                {% endfor %}
                           </ul>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                           <div class="portfolio three-column">
                            {% for filme in filmes %}
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 web {{ filme.cinema.id }} item">
                                 <div class="portfolio-item">
                                    <a href="{{ path('filmes_imagemp', { 'id': filme.id} ) }}" class="portfolio-item-link" data-rel="prettyPhoto" >
                                    <span class="portfolio-item-hover"></span>
                                    <span class="fullscreen"><i class="icon-search"></i></span><img src="{{ path('filmes_imagemp', { 'id': filme.id} ) }}" alt=" "/>
                                    </a>
                                    <div class="portfolio-item-title">
                                       <a href="{{ path('gera_voucher', { 'idCinema': filme.cinema.id, 'idFilme' : filme.id} ) }}">{{ filme.filme }} em {{ filme.cinema.nome }}</a>
                                       <p>
                                          {{ filme.descricao }}
                                       </p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                            {% endfor %}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Main Content end-->
         </div>
         <!-- Content End -->
         <!-- Footer Start -->
         
         {% block rodape %}
            {% include 'MyHappyCineManiaBundle:Default:rodape.html.twig' %}
        {% endblock %}
         
         <!-- Scroll To Top --> 
         <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
      </div>
     
      <!-- The Scripts -->
      <script src="{{asset('bundles/myhappycinemania/js/jquery.min.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/bootstrap.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/jquery.parallax.js')}}"></script> 
      <script src="{{asset('bundles/myhappycinemania/js/modernizr-2.6.2.min.js')}}"></script> 
      <script src="{{asset('bundles/myhappycinemania/js/revolution-slider/js/jquery.themepunch.revolution.min.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/jquery.nivo.slider.pack.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/jquery.prettyPhoto.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/superfish.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/tweetMachine.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/tytabs.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/jquery.sticky.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/jflickrfeed.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/imagesloaded.pkgd.min.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/waypoints.min.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/spectrum.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/switcher.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/jquery.gmap.min.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/jquery.isotope.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/portfolio.js')}}"></script>
      <script src="{{asset('bundles/myhappycinemania/js/custom.js')}}"></script>
   </body>
</html>