{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block meta %}
    {% if app.user is not empty %}
<meta http-equiv="refresh" content="0; url={{ path('index_am2') }}">
    {% endif %}
{% endblock meta %}

{% block body %}
<div class="ctn-login">
    <div class="hr5"></div>
    <form action="{{ path("fos_user_security_check") }}" method="post" data-autofocus="first">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <table cellspacing="0" border="0" cellpadding="2" class="fnt1">
            <tr>
                <td class="fnt-medium">Login:</td>
                <td colspan="2" class="fnt-medium">Senha:</td>
            </tr>
            <tr>
                <td>
                    <input id="username" class="input-login" class="fnt-medium" type="text"  autocomplete="off" name="_username" required="required"/> 
                </td>
                <td>
                    <input type="password" class="input-login" class="fnt-medium" autocomplete="off"  id="password" name="_password" required="required"/>
                </td>
                <td align='right' valign='top'>
                    <button type="submit" class="submit-login" id="_submit" name="_submit">
                        Entrar
                    </button> 
                </td>
            </tr>
            <tr>
                <td valign='bottom'>
                    {% if error %}
                    <span class="error-login fnt-small">Erro: {{ error }}</span>
                    {% else %}
                    <input type="checkbox" class="checkbox-login" id="remember_me" name="_remember_me" value="on"/> <span class="fnt-small">Manter Conectado</span>
                    {% endif %}
                </td>
                <td colspan="2" class="fnt-small" valign='bottom'>
                    <a href="{{ path('fos_user_resetting_request') }}" class="no-link">
                          Esqueceu a senha?
                    </a>
                </td>
            </tr>
        </table>
    </form>
</div> 
{% endblock body %}
{#
{% block fos_user_content_page %}
    {{ render(controller('ZuniAM2Bundle:Site:renderBanner')) }}
    {{ render(controller('ZuniUsuarioBundle:Registro:registro', {'formView' : form|default(null)})) }}
{% endblock fos_user_content_page %}

{% block extra_page %}
    {{ render(controller('ZuniAM2Bundle:Site:renderRodapeLogin')) }}
{% endblock extra_page %}   #}
